-- Example 0
2
A###B
.....
47

6
-- Example 1
2
A#.#B
..#..
47

-1
-- Example 2
2
A#.#B
.._C.
1

-1
-- Example 3
1
B_C_C_CA
10

37
-- Example 4
3
___B__.
C#####.
AC.....
1

8
-- Example 5
3
___B__.
C#####.
AC.....
10

31
